# General Directories

.vscode/
code/__pycache__
images/IMG_*
images/square_images/IMG_*
images/__pycache__
images/square_images/__pycache__

# Exceptions

!images/IMG_3793*
!images/IMG_3794*
!images/IMG_3795*

!images/square_images/IMG_3827*
!images/square_images/IMG_3828*
!images/square_images/IMG_3829*

# Specific Files

images/Photos.zip
